{ Filter = { Bundles = ("com.apple.softwareupdated","com.apple.AssetCacheLocatorService","com.apple.imfoundation.IMRemoteURLConnectionAgent", "com.apple.mobileactivationd", "com.apple.itunescloudd", "com.apple.identityservicesd", "com.apple.aps.framework", "com.apple.akd", "com.apple.AuthKit", "com.apple.UIKit", "com.apple.itunesstored" ); }; }
